:root{

  --main: #00B637;
  --mainDark: #00813A;
  --mainLight: '';
  --accent: '';
  --black: #282828;
  --border-radius: 4px;
  --mainFont: '';
  --accentFont: '';
  --titleFont: '';
  --bodyFont: '';
  --linkFont: '';
  --fontWeightBold: 1rem;
  --fontWeightNormal: .875rem;
  --fontWeightSmall: .625rem;
}
