:root {
    --main: ;
    --accent: ;
    --primary: #00B637;
    --secondary: #2F5AB5;
    --black: #282828;
    --border-radius: 4px;
    --mainFont: ;
    --accentFont: ;
    --titleFont: ;
    --bodyFont: ;
    --linkFont: ;
}

.material-icons {
    vertical-align: middle !important;
    /* font-size: inherit; */
}

/*NAVBAR*/

.primary-text-color {
    color: var(--primary);
}

.white-text-color {
    color: white;
}

.secondary-text-color {
    color: var(--secondary);
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: "Roboto";
    font-family: 'Merriweather', serif;
    font-weight: 500;
    /* transition: all .3s ease-in; */
    font-size: 17px;
    font-size: .925rem;
    margin: 0px;
    background: #EFEFEF;
}

.nav-color {
    color: black;
}

.nav-color:hover {
    color: var(--primary);
    font-weight: 500;
    text-decoration: underline;
}

.navigation-bar {
    background-color: #fff;
    padding: 1.8rem 0 1.8rem;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    z-index: 1000;
}

.navigation-bar .hamburger-menu {
    display: none;
    height: 4rem;
    width: 4rem;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0rem;
    padding: 1.4rem;
    border-radius: 3px;
    cursor: pointer;
}

.navigation-bar .hamburger-menu img {
    max-height: 2.8rem;
}

@media only screen and (max-width: 75em) {
    .navigation-bar .hamburger-menu {
        display: block;
    }
}

@media only screen and (max-width: 36em) {
    .navigation-bar .hamburger-menu {
        right: 1rem;
    }
}

.navigation-bar .user-connect-box {
    align-items: center;
    border: 2px solid #eee;
    border-radius: 3px;
    padding: 1rem 2rem;
}

.navigation-bar .user-connect-box span {
    color: var(--primary);
    padding-left: .5rem;
    font-size: 1.3rem;
}

@media only screen and (max-width: 36em) {
    .navigation-bar .user-connect-box span {
        display: none;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar .user-connect-box {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media only screen and (max-width: 36em) {
    .navigation-bar .user-connect-box {
        border: none;
        padding: 0px;
    }
}

.navigation-bar .user-connect {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #eee;
}

.navigation-bar .user-connect img {
    height: 4rem;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media only screen and (max-width: 36em) {
    .navigation-bar .user-connect img {
        height: 5rem;
    }
}

@media only screen and (max-width: 36em) {
    .navigation-bar .user-connect {
        height: 5rem;
        width: 5rem;
    }
}

.navigation-bar__logo {
    max-height: 2.5rem;
    color: var(--primary)
}

.navigation-bar__block {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

@media only screen and (max-width: 75em) {
    .navigation-bar__block {
        display: block;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar__block .nav-action {
        display: none;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar__menu {
        margin-top: 2rem;
        display: none;
    }
}

.navigation-bar__item {
    display: inline-block;
}

.navigation-bar__item:not(:last-child) {
    margin-right: 2.6rem;
}

.navigation-bar__item.--minimal-mr {
    margin-right: .5rem;
}

@media only screen and (max-width: 75em) {
    .navigation-bar__item.--minimal-mr {
        display: inline-block;
        margin-top: 1rem;
    }
}

.navigation-bar__item.--desktop-display {
    display: none;
}

@media only screen and (max-width: 75em) {
    .navigation-bar__item {
        display: block;
        padding: 0;
    }
    .navigation-bar__item:not(:last-child) {
        margin-right: 0;
        border-bottom: 1px dashed #eee;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar__link {
        display: block;
        padding: 1rem .5rem;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar__link:hover {
        background-color: rgba(238, 238, 238, 0.2);
    }
}

.navigation-bar__logo {
    max-height: 3rem;
    color: var(--primary)
}

@media only screen and (max-width: 75em) {
    .navigation-bar__menu {
        margin-top: 2rem;
        display: none;
    }
}

.navigation-bar .user-connect {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #eee;
}

.navigation-bar .user-connect img {
    height: 4rem;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media only screen and (max-width: 36em) {
    .navigation-bar .user-connect img {
        height: 5rem;
    }
}

@media only screen and (max-width: 36em) {
    .navigation-bar .user-connect {
        height: 5rem;
        width: 5rem;
    }
}

.navigation-bar__logo {
    max-height: 2rem;
    color: var(--primary)
}

.navigation-bar__block {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

@media only screen and (max-width: 75em) {
    .navigation-bar__block {
        display: block;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar__block .nav-action {
        display: none;
    }
}

@media only screen and (max-width: 75em) {
    .navigation-bar__menu {
        margin-top: 2rem;
        display: none;
    }
}

.navigation-bar__item {
    display: inline-block;
}

.navigation-bar__item:not(:last-child) {
    margin-right: 1.5rem;
}

.navigation-bar__item.--minimal-mr {
    margin-right: .5rem;
}

@media only screen and (max-width: 75em) {
    .navigation-bar__item.--minimal-mr {
        display: inline-block;
        margin-top: 1rem;
    }
}

.navigation-bar__item.--desktop-display {
    display: none;
}

@media only screen and (max-width: 75em) {
    .navigation-bar__item.--desktop-display {
        display: inline-block;
        margin-top: 1rem;
    }
}

/* header */

.header {
    /* position: absolute; */
    background: #DDDDDD;
    height: 400px;
    width: 100%;
}

.blog-details-header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, .712)), url('../images/bg/img_5terre_wide.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
}

.blog-details-header .des{
    position: absolute;
    top:30%
}

.section__two {
    padding: 50px;
    background-color: white;
}

.white-card {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.unrounded-white-card {
    background-color: white;
    padding: 25px;
}

.form-input-decoration {
    border: none;
    height: 55px;
    width: 100%;
    padding-left: 10px;
    border-radius: 3px
}

/* header */

.header {
    /* position: absolute; */
    height: 400px;
    background-color: #DDDDDD;
    padding: 50px 20px;
}

.header-des {
    position: relative;
    top: 5%;
    left: 25%;
}

/* footer */

.footer {
    background-color: var(--primary);
    padding: 50px 25px;
    color: white;
}

.img-radius {
    border-radius: 4px 4px 0px 0px;
}

.illustration-img {
    background-image: url('../images/bg/img_5terre_wide.jpg');
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.date-card {
    background-color: red;
    padding: 30px;
    padding: 15px;
    /* width: 65px;
    height: 65px; */
    position: absolute;
    left: 10%;
    bottom: -10%;
    border-radius: 5px;
}

.article-link {
    color: black;
}

.article-link:hover {
    color: var(--primary);
    transition: ease-in, .4s;
    font-weight: 500;
}

.theme-link {
    padding: 5px 15px;
    color: black;
    font-weight: normal;
    border: 1px solid rgb(216, 212, 212);
    font-style: 13px;
}

.theme-link:hover {
    background-color: var(--primary);
    color: white;
    border: none;
}

.input-style {
    background: #EEEEEE;
    height: 49px;
    border: none;
}

.submit-button{
    background-color: var(--primary);
    color: white;
    padding: 10px 15px;
    border: none;
}

.divider{
    height: 3px;
    max-width: 50px;
    background-color: var(--primary);
}

/* pagination */

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0!important;
    color: #797575;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    color: white;
    /* background-color: #e9ecef; */
    border-radius: 0.25rem;
}


.gray-section{
    background: #E5E5E5;
    padding: 15px;   
}

.quote{
    border-left: 5px solid var(--primary);
    padding: 15px;
    font-style: italic;
    background-color: white;
}